pandas 
numpy
jupyterlab
ipykernel
ipython
ipython-sql
sqlalchemy
psycopg2-binary   # PostgreSQL driver
pymysql           # MySQL driver
pyodbc            # ODBC / MS SQL Server driver
matplotlib
seaborn
plotly
prettytable==0.7.2
streamlit